@font-face {
  font-family: myFirstFont;
  src: url(satoshi.woff);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
  justify-content: center;
}

.header-logo-icon {
  mix-blend-mode: multiply;
}

.mock-up {
  mix-blend-mode: multiply;
  margin-left: 0;
  margin-top: -25px;
  scale: 0.8;
}

.header-container {
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  min-width: 590px;
  max-width: 1600px;
  height: inherit;
  justify-content: center;
  margin: auto;
}

.header-mobile-menu-close {
  display: none;
}

.header-mobile-menu-container {
  display: none;
}

.header-menu {
  display: none;
}

/* header {
  width: 100vw;
  height: 80px;
} */

/* .header-container {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: inherit;
  justify-content: space-between;
   margin: auto; 
} */

.header-nav-link {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 25%;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  font-size: 0.9em;
}

.header-nav-link li a {
  text-decoration: none;
  color: grey;
}

.header-logo {
  height: inherit;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo-icon img {
  width: 40px;
}
.header-logo-name img {
  width: 50px;
}

.auth-btn {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: end;
  align-items: center;
  width: 25%;
}

.auth-btn a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.auth-btn-signup {
  height: 40px;
  margin-left: 20px;
}
.auth-btn-signup > a > div {
  margin: auto;
  height: inherit;
  padding: 10px 20px;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.535);
  border-radius: 20px;
  background-color: white;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
  }

  header {
    width: 600px;
    height: 100px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
  }

  .header-container {
    width: 590px;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 5px;
  }

  .header-nav {
    display: none;
    list-style: none;
    text-decoration: none;
    font-weight: 300;
    color: grey;
  }

  /* .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
  } */

  .header-logo {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .header-logo-icon img {
    width: 100px;
  }
  .material-symbols-outlined {
    width: 200px;
  }
  .header-logo-name img {
    width: 150px;
  }

  .header-logo-name {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }

  .auth-btn {
    display: none;
  }

  .header-container .header-nav-link {
    display: none;
  }
  .header-mobile-menu-container {
    margin: -20px;

    background-color: white;
    width: 600px;
  }

  .header-mobile-menu {
    /* margin-top: -100px; */
    background-color: white;
    list-style: none;
    text-decoration: none;
    width: 100vw;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    height: 40vh;

    padding: 5% 0 30% 0;
  }

  .header-mobile-menu li {
    height: 1.5em;
  }

  .header-mobile-menu li a {
    color: grey;
    text-decoration: none;
    font-size: 2em;
  }

  .header-mobile-menu-signup > div {
    width: 10.5em;
    padding: 0.4em;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.9em;
    font-weight: 600;
    border-color: rgb(0, 0, 0);
    margin: auto;
  }

  .header-mobile-menu-signup {
    height: 0.5em;
  }
  .header-mobile-menu-login-li {
    margin: 35px 0 0 0;
    font-weight: 600;
  }

  .header-mobile-menu-close {
    border: 0px;
    background-color: transparent;
    margin: 30px 40px -30px 0;
    float: right;
    height: 8em;
    width: 8em;
    display: none;
  }

  .header-menu {
    display: block;
  }
  .headline {
    font-size: clamp(3rem, 5.5rem, 8rem);
    line-height: 1.1;
    margin-top: auto;
    font-weight: 600;
  }

  .sub-headline {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 1.7rem;
  }

  .get-app-btn {
    background-image: radial-gradient(#0ea4e996 5%, #0ea5e9);
    border-radius: 40px;
    color: white;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 500px;
    /* padding: 0px 10px; */
    text-align: center;
  }

  .get-app-btn > h6 {
    margin-right: 5px;
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .get-app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    max-width: 600px;
    margin: auto;
  }

  .get-app-container h5 {
    font-weight: 300;
    display: none;
    color: rgba(0, 0, 0, 0.6);
  }

  .circle-container {
    display: flex;
    flex-direction: row;
  }
  .circle {
    width: 40px;
    height: 40px;
    border-color: rgb(255, 251, 251);
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 20px;
  }

  #circle-one {
    background-color: #c5ecfd;
  }

  #circle-two {
    background-color: #dbd1fc;
    transform: translateX(-3px);
  }

  #circle-three {
    background-color: #bef0c6;
    transform: translateX(-6px);
  }

  .active-user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }

  .active-user-container > h6 {
    font-weight: 400;
    font-size: larger;
    color: rgba(0, 0, 0, 0.6);
  }

  .body-1 {
    padding: 0 40px;
    /* margin: auto; */
    width: 520px;
    /* max-width: 1400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .body-1-left-container {
    width: inherit;
    /* padding-left: 5vw;                                                                                             */
  }

  .mockup-container {
    width: 500px;
    display: flex;
    margin-top: 50px;
    justify-content: center;

    /* background-image: image();*/
    /* overflow: hidden;  */
  }
  /* 
  #header-container {
    justify-content: center;
    width: 100vw;
  } */
  .mock-up {
    object-fit: scale-down;
  }
  .social-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .social-container span {
    font-size: 1.3rem;
    color: grey;
  }
  .social-media {
    width: 45px;
    height: 45px;
    border-color: rgb(255, 251, 251);
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #0ea4e93a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-media > img {
    margin: auto;
    scale: 1.25;
  }

  .social-media-container,
  .social-media-container-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .social-media-container-icon {
    width: 200px;
  }
  .social-media-container {
    width: 350px;
    margin: 30px auto auto auto;
  }

  .social-media-container span {
    font-size: 1.3rem;
  }

  .tracker-demo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
    margin: auto;
  }

  .try-tracker {
    width: 250px;
    height: 45px;
    border-width: 1px;
    border-color: #0ea5e9;
    border-radius: 20px;
    border-style: solid;
    text-decoration: none;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .try-tracker a {
    text-decoration: none;
    color: #0ea5e9;
    margin: auto;
  }
  .demo {
    /* display: flex;
    flex-wrap: wrap; */
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .demo2 {
    color: #0ea5e9;
  }

  .map {
    background-image: url("./assets/map.png");
    height: 700px;
    width: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin: 100px auto auto auto;
    border-radius: 20px;
    position: relative;
    z-index: -5;
  }

  .map input {
    width: 450px;
    height: inherit;
    border-radius: 15px;
    border-width: 0px;
    padding-left: 50px;
    left: auto;
    right: auto;
    z-index: 0;
  }

  .target {
    position: absolute;
    z-index: 5;
    left: 430px;
    top: 35px;
    bottom: auto;
  }
  .search-flight {
    width: 90%;
    height: 55px;
    margin: 20px auto;
  }
  .search {
    position: absolute;
    left: 40px;
    top: 35px;
    z-index: 5;
  }

  .flight-loc {
    height: 200px;
    width: 450px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }

  .flight-loc-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 10px;
  }
  .flight-loc-top-1 {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .flight-loc-top-2 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 10px;
    padding: 5px 20px;
    background-color: rgb(255, 119, 0);
    color: white;
    border-radius: 20px;
  }
  .flight-details {
    display: flex;
    flex-direction: column;
    width: 85%;

    border: rgba(128, 128, 128, 0.648);
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    border-radius: 20px;
    margin: auto;
  }
  .flight-details > span {
    font-size: 1.2rem;
    font-weight: 400;
    color: grey;
  }
  .flight-details-route {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flight-details-route-2 {
    display: flex;
    flex-direction: column;
  }
  .flight-details-route-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0ea5e9;
  }
  .flight-details-route-1 span {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .slab-air {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .airbus {
    color: grey;
    font-size: 1rem;
    font-weight: 400;
  }
  .feature {
    width: 230px;
    height: 45px;
    border-width: 1px;
    border-color: #0ea5e9;
    border-radius: 20px;
    border-style: solid;
    text-decoration: none;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .feature a {
    text-decoration: none;
    color: #0ea5e9;
    margin: auto;
  }
  .demo3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .sub-headline1 {
    color: grey;
    font-weight: 400;
    font-size: 1.7rem;
  }
  .section-3 {
    width: 500px;
    margin: auto;
  }
  .blue-box {
    width: 500px;
    height: 600px;
    background-image: radial-gradient(white, #0ea5e9);
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin: auto;

    /* position: relative; */
    /* bottom: 0px; */
  }
  .blue-box img {
    width: 350px;
  }
  .blue-box-1 {
    width: 500px;
    height: 650px;
    padding: 50px auto;
    color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    background-image: radial-gradient(rgba(202, 202, 202, 0.034), #0ea5e9);
    background-color: #0ea5e9;
  }
  .blue-box-1 > div {
    width: 350px;
    height: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .blue-box-1 h5 {
    font-size: 2.8rem;
    font-weight: 500;
    margin: auto;
    line-height: 1.1;
  }

  .blue-box-1 span {
    font-weight: 100;
    font-size: medium;
    font-size: 1.3rem;
  }

  .blue-box-1 img {
    width: 420px;
    margin: auto;
  }
  .blue-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2050px;
    margin-top: 100px;
  }

  .review {
    /* width: fit-content;
    height: fit-content; */
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
  }

  .review > span {
    font-size: 1.7rem;
    font-weight: 600;
  }
  .review-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    justify-content: space-between;
  }

  .review-user-profile {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-color: burlywood;
  }
  .review-user-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:fit-content ;
  }
  .review-user-detail  h6 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0px;
  }
  .review-user-detail  span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #0ea5e9;
  }

  #reveiw-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    
  }


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
  .auth-btn-signup > a > div {
    margin: auto;
    height: inherit;
    padding: 8px 15px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.535);
    border-radius: 17px;
    background-color: white;
  }

  .header-nav-link {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 0.9em;
  }

  .header-nav-link li a {
    text-decoration: none;
    color: grey;
  }

  .header-logo {
    height: inherit;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-logo-icon img {
    width: 25px;
  }
  .header-logo-name img {
    width: 30px;
  }

  .auth-btn {
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: end;
    align-items: center;
    width: 35%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .auth-btn-signup > a > div {
    margin: auto;
    height: inherit;
    padding: 10px 20px;
    border-style: none;
    border-radius: 20px;
    background-color: white;
  }

  .header-mobile-menu-close {
    display: none;
  }

  .header-mobile-menu-container {
    display: none;
  }

  .header-menu {
    display: none;
  }
  .headline {
    font-size: clamp(3rem, 3.5rem, 8rem);
    line-height: 1.1;
    margin-top: 100px;
  }

  .sub-headline {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
  }

  .get-app-btn {
    background-image: radial-gradient(#0ea4e996 5%, #0ea5e9);
    border-radius: 20px;
    color: white;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    padding: 0px 10px;
    text-align: center;
  }

  .get-app-btn > h6 {
    margin-right: 5px;
    font-size: 300;
    font-weight: lighter;
  }

  .get-app-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22vw;
  }

  .get-app-container > h5 {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }
  .get-app-container h5 {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }

  .circle-container {
    display: flex;
    flex-direction: row;
  }
  .circle {
    width: 20px;
    height: 20px;
    border-color: rgb(255, 251, 251);
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 20px;
  }

  #circle-one {
    background-color: #c5ecfd;
  }

  #circle-two {
    background-color: #dbd1fc;
    transform: translateX(-3px);
  }

  #circle-three {
    background-color: #bef0c6;
    transform: translateX(-6px);
  }

  .active-user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 52\%;
  }

  .active-user-container > h6 {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }

  .body-1 {
    padding: 0 10vw;
    margin: auto;
    width: 80vw;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .body-1-left-container {
    width: 50%;
    /* padding-left: 5vw;                                                                                             */
  }

  .mockup-container {
    width: 50%;
    display: flex;

    justify-content: center;

    /* background-image: image();*/
    /* overflow: hidden;  */
  }

  #header-container {
    justify-content: center;
    width: 100vw;
  }
  .mock-up {
    scale: inherit;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-mobile-menu-close {
    display: none;
  }

  .header-mobile-menu-container {
    display: none;
  }

  .header-menu {
    display: none;
  }

  header {
    width: 100%;
    height: 80px;
  }

  .header-nav-link {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 0.9em;
    margin-left: 0px;
  }

  .header-nav-link li a {
    text-decoration: none;
    color: grey;
  }

  .header-logo {
    height: inherit;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-logo-icon img {
    width: 40px;
  }
  .header-logo-name img {
    width: 50px;
  }

  .auth-btn {
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: end;
    align-items: center;
    width: 30vw;
  }

  .auth-btn a {
    text-decoration: none;
    font-weight: 500;
    color: black;
  }

  .auth-btn-signup {
    height: 40px;
    margin-left: 15px;
  }
  .auth-btn-signup > a > div {
    margin: auto;
    height: inherit;
    padding: 10px 20px;
    /* border-width: 0.5px; */
    border-style: none;
    /* border-color: rgba(0, 0, 0, 0.535); */
    border-radius: 20px;
    background-color: white;
  }

  .headline {
    font-size: clamp(3rem, 4rem, 8rem);
    line-height: 1.1;
    margin-top: 100px;
  }

  .sub-headline {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
  }

  .get-app-btn {
    background-image: radial-gradient(#0ea4e996 5%, #0ea5e9);
    border-radius: 20px;
    color: white;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    padding: 0px 10px;
    text-align: center;
  }

  .get-app-btn > h6 {
    margin-right: 5px;
    font-size: 300;
    font-weight: lighter;
  }

  .get-app-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22vw;
    max-width: 300px;
  }

  .get-app-container > h5 {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }
  .get-app-container h5 {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }

  .circle-container {
    display: flex;
    flex-direction: row;
  }
  .circle {
    width: 20px;
    height: 20px;
    border-color: rgb(255, 251, 251);
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 20px;
  }

  #circle-one {
    background-color: #c5ecfd;
  }

  #circle-two {
    background-color: #dbd1fc;
    transform: translateX(-3px);
  }

  #circle-three {
    background-color: #bef0c6;
    transform: translateX(-6px);
  }

  .active-user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 52\%;
  }

  .active-user-container > h6 {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }

  .body-1 {
    padding: 0 10vw;
    margin: auto;
    width: 80vw;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .body-1-left-container {
    width: 50%;
    /* padding-left: 5vw;                                                                                             */
  }

  .mockup-container {
    width: 50%;
    display: flex;

    justify-content: center;

    /* background-image: image();*/
    /* overflow: hidden;  */
  }

  #header-container {
    justify-content: center;
    width: 100vw;
  }
  .mock-up {
    scale: 0.95;
  }
  .social-media {
    width: 30px;
    height: 30px;
    border-color: rgb(255, 251, 251);
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #0ea4e93a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-media > img {
    margin: auto;
    scale: 0.75;
  }

  .social-media-container,
  .social-media-container-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .social-media-container {
  }
}
